body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
p.Normal {
	-epub-hyphens:none;
	color:#000000;
	font-family:"MS Mincho", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.CharOverride-1 {
	font-family:Sloan, serif;
	font-size:100px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-2 {
	font-family:Sloan, serif;
	font-size:50px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-3 {
	font-family:Sloan, serif;
	font-size:25px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-4 {
	font-family:Sloan, serif;
	font-size:13px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-5 {
	font-family:Sloan, serif;
	font-size:6px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-6 {
	font-family:"Pelli Eye Chart", sans-serif;
	font-size:100px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	font-family:"Pelli Eye Chart", sans-serif;
	font-size:50px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:"Pelli", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
